{% extends 'main/main.html'%} {% block content %}

<div class="container">
    <div class="row py-5 justify-content-center">
      <h2> Proveedores </h2>
    </div>
    <div class="row m-2 d-flex">
      <p class="m-4"> Buscar proveedor: </p>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Atributo a buscar..." aria-label="Search">
        <button class="btn btn-outline-success m-2 my-sm-0 px-2" type="submit">
          Buscar
        </button>
      </form>
      <button onclick="window.location.href='/proveedores/crear'" type="button"
        class="btn ml-auto mr-4 my-2" id="buttonMain">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 8 8">
          <path fill="#ffff" d="M3 0v3h-3v2h3v3h2v-3h3v-2h-3v-3h-2z" />
        </svg>
        Nuevo proveedor
      </button>
    </div>
    <div class="row">
      <table class="table table-striped mx-5 my-2">
        <thead>
          <tr class="fila">
            <th scope="col">ID</th>
            <th scope="col">NIT</th>
            <th scope="col">Nombre</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Correo</th>
            <th scope="col">Productos</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for proveedor in proveedores %}
            <tr>
              <td>{{ proveedor["id"] }}</td>
              <td>{{ proveedor["nit"] }}</td>
              <td>{{ proveedor["nombre_proveedor"] }}</td>
              <td>{{ proveedor["telefono"] }}</td>
              <td>{{ proveedor["correo"] }}</td>
              <td>{{ proveedor["productos"] }}</td>
              <td>
                <a href="{{ '/proveedores/editar/%s'%proveedor['id'] }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 8 8">
                    <path d="M6 0l-1 1 2 2 1-1-2-2zm-2 2l-4 4v2h2l4-4-2-2z" />
                  </svg>
                </a>
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#eliminarProveedor">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 8 8">
                    <path
                      d="M3 0c-.55 0-1 .45-1 1h-1c-.55 0-1 .45-1 1h7c0-.55-.45-1-1-1h-1c0-.55-.45-1-1-1h-1zm-2 3v4.81c0 .11.08.19.19.19h4.63c.11 0 .19-.08.19-.19v-4.81h-1v3.5c0 .28-.22.5-.5.5s-.5-.22-.5-.5v-3.5h-1v3.5c0 .28-.22.5-.5.5s-.5-.22-.5-.5v-3.5h-1z" />
                  </svg>
                </button>
                </a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <nav class="d-flex justify-content-end m-4" aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
      </ul>
    </nav>
  </div>
    <div class="modal fade" id="eliminarProveedor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">ELIMINAR PROVEEDOR</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ¿Está seguro que desea eliminar el proveedor?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger">Eliminar proveedor</button>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 