{% extends 'main/main.html'%} {% block content %}
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">CantMinimaBodega</th>
        <th scope="col">CantDisponible</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>ferrari991</td>
        <td>rojo descapotable</td>
        <td>1</td>
        <td>5</td>
        <td><a href="f"></a>

        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>bmwx9</td>
        <td>4x4</td>
        <td>2</td>
        <td>5</td>
        <td><a href="f"></a>

        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>porshe</td>
        <td>negro pista</td>
        <td>1</td>
        <td>4</td>
        <td><a href="f"></a>

        </td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>mazda</td>
        <td>4x4</td>
        <td>2</td>
        <td>3</td>
        <td><a href="f"></a>

        </td>
      </tr>
    </tbody>
  </table>

{% endblock %}