{% extends 'main/main.html'%}
{% block content %}
<div class="container">
  <div class="row py-5 justify-content-center">
    <h2> Editar usuario </h2>
  </div>
  <form action="#" name="form" method="POST" novalidate>
    {{ csrf_token }} {{ form.hidden_tag() }}
    <div class="form-row m-2">
      <div class="col">
        {{ form.nombre_usuario.label(class = "mx-3") }} {{
        form.nombre_usuario(class="form-control mr-sm-2", placeholder = "Ingrese nombre...") }} {% for error in form.nombre_usuario.errors %}
        <span class="error"> {{error}}</span>
        {% endfor %}
      </div>
      <div class="col">
        {{ form.correo.label(class = "mx-3") }} {{
        form.correo(class="form-control mr-sm-2", placeholder = "Ingrese correo...") }} {% for error in form.correo.errors %}
        <span class="error"> {{error}}</span>
        {% endfor %}
      </div>
    </div>
    <div class="form-row m-2">
      <div class="col">
        {{ form.rol.label(class = "mx-3") }} {{ form.rol(class="form-control
        mr-sm-2", placeholder = "Seleccione rol...") }} {% for error in
        form.rol.errors %}
        <span class="error"> {{error}}</span>
        {% endfor %}
      </div>
      <div class="col">
        {{ form.clave.label(class = "mx-3") }} {{ form.clave(class="form-control
        mr-sm-2", placeholder = "Ingrese contraseña...") }} {% for error in
        form.clave.errors %}
        <span class="error"> {{error}}</span>
        {% endfor %}
      </div>
    </div>
    <div class="row m-4">
      {{ form.enviar(class = "btn btn-outline-success m-2 my-sm-0 px-2") }}
      <button class="btn btn-outline-danger m-2 my-sm-0 px-2">Cancelar</button>
    </div>
  </form>
</div>
{% endblock %}